.a,
.b {
  height: 500px;
}

.a {
  background-image: linear-gradient(#f50a0a, #f5640a);
}

.b {
  background-image: linear-gradient(#67c864, #11ebf3);
}

.link {
  width: 300px;
  display: flex;
  position: fixed;
  right: 0;
  bottom: 50px;
}

.link a {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}
